# Project-specific
/cache/
# /output/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyBuilder
target/


# Eclipse
.settings/
.project
.classpath

# Jetbrain PyCharm
.idea/
*.iws
/bin/

# Mac stuff
.DS_Store
