# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
build/
dist/
sdist/

# Jetbrain PyCharm
.idea/
*.iws
/bin/

# Mac stuff
.DS_Store

# Project-Specific
cache/